<%= content_for :head do %>
  <%= stylesheet_link_tag "custom" %>
<% end %>
<div class="container" style="  padding:0px 50px;">
  <div class="row" style=" background:#fff; height:500px; border-radius: 10px;">
  </div>
</div>
  