.fig > .figcap-border > figcaption
{
	text-align: center;
	font-size: 14px; font-weight: bold;

}

.fig-border
{
	border: 1px solid #bdb7b5;
	margin: 0px 5px;
}

.figcap-border
{
	border: 1px solid #bdb7b5;
	margin: 0px 5px;
}
