<div class="col-lg-11" id="drop-bg" style="height: 360px;border: 1px dashed; margin : 20px; background-color: #e9eeee;  overflow:auto;">
  <h3 style="color: #b6b7b7;" id="drop-bg1"> Drag and Drop Here</h3>
  <div class="dragged-item " id="dragged-item" style="visibility: hidden;" >
	</div>
</div>
