<div class="dragged-item " id="dragged-item" style="" >	
	<div class="col-lg-12" style="padding-top:20px; ">	
		<div class="h4-span" style="display: flex; align-items: center;">
			<span  style=" float: left" class="col-lg-11"><%= @parent_rule.name%></span> 
			<div class="">
				<%= image_tag @parent_rule.icon_image, "data-toggle": "collapse", "data-target": "#demo1" %>	
			</div>	
		</div>
		<div id="demo1" class="collapse in col-lg-12" style=" padding:0px; font-weight: bold;background:#b8e5f9; width:91%;"> 
			<div class="demo-collapse" style="padding:0px;" data-toggle="collapse" data-target="#demo11">
				<span style="float: left; padding:10px ; cursor: pointer;" class="col-lg-11 selected_gender_geo"><%= @rule.name %></span>	
			</div>
			<div id="demo11" class="collapse in col-lg-12" style="padding:10px 0px; font-weight: bold; background:#ddf2fd; "> 
				<div class="demo-collapse" style="padding:0px;">
					<img src="../../assets/img/sidebar_icon/gender.png" style="width: 100;" class="gender_geography_image" />
				</div>
			</div>	
		</div>
	</div> 
</div>